@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');

/* COMMON */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    color: #48555B;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
}

/* /COMMON */

.bg {
    background: url(../img/bg.png);
    height: 768px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header {
    text-align: center;
    justify-content: flex-end;
}

.projeco-logo {
    padding-top: 41px;
}

.zagalovok {
    padding-top: 317px;
}

.zagalovok h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5.70937px;
    font-size: 60px;
}

.zagalovok p {
    font-weight: 600;
}

.scrolldowntext {
    margin-top: 220px;
}

.scrolldowntext a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    font-weight: 400;   
    color: #fff;
    transition: 0.5s;
}

.scrolldowntext a:hover {
    letter-spacing: 0.1px;
}

.nav_bar {
    height: 65px;
    align-items: center;
    display: flex;
    border: 1px solid #E6E6E6;
}

.nav_bar .container {
    display: flex;
    justify-content: space-between;
}

.nav_bar ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.nav_bar ul li{
    margin-left: 42.5px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: #48555B;
    transition: 0.5s;
}

.nav_bar ul li a:hover {
    filter: invert(0.8);
}

.about {
    padding-bottom: 118px;
}

.our_story {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 60px;
    letter-spacing: 2.30625px;
}

.line {
	width: 50px;
    margin-left: 47.5%;
	height: 2px;
	background: #00A4E5;
    
}

.about-block {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 405px;
    font-size: 13px;
    line-height: 23px;
}

.about-text h3 {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
}

.about-text span {
    color: #00A4E5;
}

.weblock {
    display: flex;
}

.we {
    padding-left: 20px;
    padding-top: 25px;
    transition: 0.5s;
}

.we:hover {
    transform: scale(1.2);
}

.title .line {
    margin: 0;
}

.title {
    letter-spacing: 2.30625px;
    font-size: 18px;
    font-weight: 700;
}

.title h3 {
    padding-bottom: 10px;
}

.services {
    padding-bottom: 115px;
}

.serviceshead {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    align-items: center;
    padding-bottom: 76px;
}

.allservices {
    display: flex;
    align-items: center;
}

.allservices p {
    width: 405px;
    font-weight: 600;
}

.allservices a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: white;
    background-color: #00A4E5;
    padding: 11px;
    padding-left: 29px;
    padding-right: 29px;
    transition: 0.5s;
}

.allservices a:hover {
    background-color: #5ebee4;
}

.allservices a:active {
    background-color: #005475;
    transition: 0s;
}

.servicesblock {
    display: flex;
}

.servicesblock h3 {
    padding-top: 25px;
    padding-bottom: 13px;
    letter-spacing: 0.426667px;
    font-size: 16px;
    font-weight: 700;
}

.servicesblock p {
    letter-spacing: 0.1875px;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
}

.service {
    width: 295px;
    border: 1px solid #E6E6E6;
    padding: 22px;
    margin-right: 28px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.ser1 {
    margin-right: 0;
}

.get-in-touch .bg {
    background: url(../img/bgunder.png);
    height: 499px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.get-in-touch h1 {
    padding-top: 120px;
    padding-bottom: 35px;
    color: #48555B;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.get-in-touch a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: white;
    background-color: #00A4E5;
    padding: 11px;
    padding-left: 26px;
    padding-right: 26px;
    transition: 0.5s;
}

.get-in-touch a:hover {
    background-color: #5ebee4;
}

.get-in-touch a:active {
    background-color: #005475;
    transition: 0s;
}

.newsletter {
    height: 100px;
    background-color: #171819;
    text-align: center;
    align-items: center;
    display: flex;
}

.newsletter .container {
    display: flex;
    justify-content: center;
}

.newsletter .container input {
    width: 234px;
    height: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;  
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #979797;
}

.newsletter .container button {
    color: #fff;
    background-color: #00A4E5;
    width: 150px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 1px;
    transition: 0.5s;
}

.newsletter .container button:hover {
    background-color: #5ebee4;
}

.newsletter .container button:active {
    background-color: #005475;
    transition: 0s;
}

.signup {
    padding-left: 70px;
}

.newsletter h2 {
    color: #fff;
    letter-spacing: 0.846154px;
}

footer {
    font-size: 11px;
    background-color: #141A20;
    color: #fff;
    height: 240px;
    font-weight: 400;
}

.footer_info .projeco-logo {
    padding-top: 0;
}

footer {
    align-items: center;
    display: flex;
    letter-spacing: 0.85px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links {
    display: flex;
}

.footer_links a {
    color: #fff;
    text-decoration: none;
    line-height: 25px;
    font-weight: 800;
    transition: 0.5s;
}

.footer_links a:hover {
    filter: invert(0.8);
}

.footer_links ul {
    list-style: none;
    padding-right: 36px;
}

.copyright {
    background-color: #171819;
}

.texthead {
    padding-bottom: 15px;
}

.justtext {
    padding-top: 18px;
    line-height: 19px;
}

.fab {
    width: 12px;
    height: 12px;
    padding-left: 25px;
}

.socials a {
    color: #fff;
}